@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(209 213 219);
}

.header_nav-item {
  background-image: linear-gradient(#f9fafb, #f9fafb 50%, #d1d5db 50%, #d1d5db);
  background-size: 100% 200%;
  transition: background-position 0.3s;

  /* &:hover: {
    background-position: 0 100%;
  }*/
}
.header_nav-item:hover {
  background-position: 0 100%;
}

.header_selected {
  background-position: 0 100%;
}
